// Abstract
@import "./abstract/variables.scss";

// Base
@import "./base/base.scss";
@import "./base/typography.scss";
@import "./base/utilities.scss";

// Components
@import "./components/general.scss";
@import "./components/form.scss";

// Flows
@import "./flows/auth.scss";
@import "./flows/airline.scss";

// Pages
@import "./pages/signin.scss";
@import "./pages/routes.scss";
@import "./pages/home.scss";
@import "./pages/schedule.scss";
@import "./pages/flightSchedules.scss";
