.home {
  width: 100%;
  min-height: 100vh;

  &__intro {
    position: relative;
    width: 100%;
    height: calc(100vh - 3rem);
    display: flex;
    justify-content: center;
    align-items: center;

    &--bg {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }

    &__content {
      max-width: 80rem;
      width: 100%;
      display: flex;
      flex-flow: column;
      gap: 1rem;
      h2 {
        color: $LIGHTER_WHITE;
      }

      &__box {
        width: 100%;
        height: 15rem;
        background-color: $LIGHTER_WHITE;
        border-radius: 1rem;
        display: flex;
        flex-flow: column;
        justify-content: center;

        &__upper {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 0.3rem;

          &__input {
            background-color: #e7e7e7;
            height: 5rem;
            display: flex;
            flex-flow: column;
            justify-content: center;
            padding: 0 1rem;

            input {
              background-color: transparent;
              border: none;
              outline: none;
            }

            &:first-child,
            &:last-child {
              width: 20rem;
            }

            &:first-child {
              border-radius: 1rem 0 0 1rem;
            }

            &:last-child {
              border-radius: 0 1rem 1rem 0;
            }
          }
        }

        &__lower {
          width: 100%;
          display: flex;
          justify-content: center;
          margin-top: 2rem;
        }
      }
    }

    &__scrollBtn {
      position: absolute;
      bottom: 1rem;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      justify-content: center;
      align-items: center;

      &__clickable {
        display: flex;
        flex-flow: column;
        width: 20rem;
        text-align: center;
        color: $LIGHTER_WHITE;
        gap: 0.5rem;
        align-items: center;
        span {
          font-size: 0.8rem;
        }
        img {
          width: 1.5rem;
          cursor: pointer;
        }
      }
    }
  }
  &__popularDestinations {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    &__dests {
      width: 100%;
      display: flex;
      gap: 1rem;
      justify-content: center;
      margin-top: 2rem;
    }
    h2 {
      color: $THEME_COLOR;
    }
  }

  &__reviews {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    &__reviews {
      width: 100%;
      display: flex;
      gap: 1rem;
      justify-content: center;
      margin-top: 2rem;
      flex-wrap: wrap;
    }

    h2 {
      color: $THEME_COLOR;
    }
  }
}

.destCard {
  width: 20rem;
  border-radius: 0.75rem;
  overflow: hidden;

  &__image {
    width: 100%;
    height: 15rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__dets {
    width: 100%;
    height: 6rem;
    background-color: $LIGHTER_WHITE;
    padding: 1rem 1rem;
    color: $THEME_COLOR;
    h4 {
      font-weight: 500;
    }

    &__pricing {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      margin-top: 1rem;

      h5 {
        font-size: 0.9rem;
        font-weight: 400;
      }

      span {
        font-size: 1.1rem;
        font-weight: 500;
      }
    }
  }
}

.reviewCard {
  width: 25rem;
  background-color: $LIGHTER_WHITE;
  padding: 1rem;
  border-radius: 1rem;
  &__top {
    display: flex;
    width: 100%;
    &__image {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 5rem;
        height: 5rem;
        object-fit: cover;
        border-radius: 1rem;
      }
    }

    &__dets {
      flex: 1;
      padding: 1rem;
      display: flex;
      flex-flow: column;
      gap: 0.25rem;
      h3 {
        color: $THEME_COLOR;
      }
    }
  }

  &__bottom {
    font-size: 0.8rem;
    color: #8b8b8b;
    padding: 0 1rem;
    margin-top: 1rem;
    text-align: justify;
    text-justify: inter-word;
  }
}
