.routes {
  width: 100%;

  &__loading {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
      color: $THEME_COLOR;
    }
  }

  &__nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h4 {
      color: $THEME_COLOR;
    }
  }
  &__row {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    gap: 1rem;
    &__flights {
      width: 30%;
      display: flex;
      flex-flow: column;
      gap: 1rem;
    }

    &__routes {
      flex: 1;
      display: flex;
      flex-flow: column;
      gap: 1rem;
    }
  }
}
