.schedules {
  width: 100%;

  &__nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__content {
    margin-top: 1rem;
    display: flex;
    flex-flow: column;
    gap: 1rem;
  }
}

.scheduleCard {
  width: 100%;
  background-color: $LIGHTER_WHITE;
  border-radius: 1rem;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: space-between;
  //   max-width: 40rem;

  &--logo {
    width: 8rem;
    height: 5rem;
    // object-fit: cover;
  }

  &__journey {
    width: 100%;
    max-width: 35rem;
    display: flex;
    justify-content: space-between;

    &__left {
      display: flex;
      flex-flow: column;
      width: 10rem;

      span:first-child {
        font-size: 1rem;
        color: gray;
        font-size: 0.8rem;
      }
      span:nth-child(2) {
        font-size: 1rem;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.75);
      }
    }

    &__right {
      display: flex;
      flex-flow: column;
      width: 10rem;

      padding-left: 3rem;
      span:first-child {
        font-size: 1rem;
        color: gray;
        font-size: 0.8rem;
      }
      span:nth-child(2) {
        font-size: 1rem;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.75);
      }
    }

    &__path {
      width: 40%;
      max-width: 15rem;
      display: flex;
      align-items: center;
      position: relative;
      span {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -100%);
        font-size: 0.7rem;
        color: #b2b2b2;
        font-weight: 500;
      }
      &--line {
        width: 100%;
        height: 0.05rem;
        background-color: #133355d7;
      }
      &--circle {
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 50%;
        background-color: #133355d7;
      }
    }
  }

  &__date {
    width: 15rem;
    font-size: 0.9rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.75);
  }
}
