.signIn {
  width: 100%;
  height: calc(100vh - 3rem);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &--bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  &__content {
    max-width: 75rem;
    width: 100%;
    display: flex;

    &__right {
      flex-grow: 1;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      color: $THEME_COLOR;
      position: relative;
    }

    &__righted {
      position: absolute;
      bottom: 0;
      right: 0;
      font-size: 0.8rem;
      span {
        span {
          font-weight: 600;
          transition: all 0.5s linear;
          &:hover {
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }
    }
  }

  &__box {
    width: 25rem;
    background-color: $LIGHTER_WHITE;
    border-radius: 1rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 2rem 2rem 2rem 2rem;
    &__form {
      width: 100%;
      margin-top: 2rem;
      display: flex;
      flex-flow: column;
      gap: 1rem;

      &__text {
        font-size: 0.9rem;
        margin-top: 1rem;
        span {
          color: $THEME_COLOR;

          margin-left: 0.25rem;
          font-weight: 500;
          transition: all 0.2s linear;
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
