.airline {
  width: 100%;

  &__nav {
    padding: 0 2rem;
    height: 100%;
    width: 100%;
    &__logo {
      margin-top: 2rem;
      width: 100%;
      display: flex;
      justify-content: center;
      img {
        width: 8rem;
        border-radius: 0.5rem;
      }
    }

    &__links {
      width: 100%;
      display: flex;
      flex-flow: column;
      gap: 1rem;
      margin-top: 3rem;
      &__link {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 1rem;
        cursor: pointer;
        i {
          font-size: 1.2rem;
        }

        i,
        span {
          color: rgba(255, 255, 255, 0.5);
        }

        &--selected {
          cursor: auto;
          i,
          span {
            color: $LIGHTER_WHITE !important;
          }
        }

        &__icon {
          width: 2rem;
        }
      }
    }

    &__logout {
      position: absolute;
      bottom: 1rem;
      // width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
