/* PassengerInfoForm.css */

.passenger-info-form-container {
    max-width: 400px;
    margin: auto;
  }
  
  .passenger-info-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .pinput {
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-top: 5px;
  }
  /* PassengerInfoForm.css */


.form-group select {
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-top: 5px;
    background-color: #fff; /* Background color */
    color: #333; /* Text color */
    cursor: pointer;
  }
  
  /* Style for the dropdown arrow */
  .form-group select:after {
    content: "\25BC"; /* Unicode character for down arrow */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
  }
  
  /* Style for the dropdown options */
  .form-group select option {
    background-color: #fff; /* Background color for options */
    color: #333; /* Text color for options */
  }
  .booking-page {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .passenger-info-form-container {
    width: 50%;
    padding: 20px;
  }

  
  .airline-card {
    width: 45%;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    display: flex;
    flex-direction: column;
  }
  
  .airline-image-container {
    margin-bottom: 20px;
  }
  
  .airline-image {
    width: 100%;
    height: auto;
  }
  
  .airline-timings {
    text-align: center;
  }
  
  /* Add any additional styles as needed */
  
