/* SearchBar.css */

.suggestions {
    position: absolute;
    z-index: 1;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
    border: 1px solid #ccc;
    background-color: #fff;
  }
  
  .suggestions div {
    padding: 8px;
    cursor: pointer;
  }
  
  .suggestions div:hover {
    background-color: #f0f0f0;
  }
  