.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  img {
    width: 2.5rem;
  }

  &__text {
    span {
      display: block;
      font-size: 1.2rem;
      font-weight: 700;
      color: $THEME_COLOR;
    }
  }
}

.cTable {
  width: 100%;
  background-color: $LIGHTER_WHITE;
  border-collapse: collapse;
  border-radius: 0.5rem;
  overflow: hidden;

  thead {
    background-color: $THEME_COLOR;
  }
  &--headings {
    width: 100%;
    color: $LIGHTER_WHITE;

    th {
      text-align: start;
      border: none;
      padding: 1rem;
      font-weight: 500;
      font-size: 0.8rem;
    }
  }

  td {
    border: none;
    padding: 0.75rem;
    font-size: 0.8rem;
  }
}

.modal {
  position: relative;
  &__box {
    &__nav {
      width: 100%;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__text {
        text-align: center;
        padding-bottom: 1rem;
        span {
          font-size: 0.8rem;
        }
      }
    }
    &--close {
      color: $THEME_COLOR;
    }
    h3 {
      color: $THEME_COLOR;
    }
    form {
      padding: 1rem 0;
      display: flex;
      flex-flow: column;
      gap: 1rem;
    }

    &__form {
      &__row {
        width: 100%;
        display: flex;
        flex-flow: column;
        gap: 0.5rem;
        label {
          font-weight: 500;
          font-size: 0.8rem;
          margin-left: 1rem;
        }
        &__content {
          width: 100%;
          display: flex;
          gap: 0.5rem;
        }
      }

      &__addAble {
        width: 100%;
        display: flex;
        flex-flow: column;
        gap: 0.5rem;

        &__row {
          width: 100%;
          display: flex;
          justify-content: space-between;

          label {
            font-weight: 500;
            font-size: 0.8rem;
            margin-left: 1rem;
          }
          span {
            font-size: 0.8rem;
            color: $THEME_COLOR;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.warning {
  width: 100%;
  border-left: 3px solid #f96028;
  padding: 1rem;
  background-color: #ffe8d9;
  color: #f96028;
  border-radius: 0.5rem;
  &__upper {
    width: 100%;
    display: flex;
    align-items: center;

    &__left {
      width: 2.5rem;

      i {
        font-size: 1.5rem;
      }
    }
    span {
      font-size: 1.1rem;
      font-weight: 500;
    }
  }

  &__lower {
    width: 100%;
    display: flex;
    padding: 0;
    margin: 0;
    margin-top: -0.5rem;
    p {
      padding: 0;

      margin-left: 2.5rem;
      font-size: 0.8rem;
    }
  }
}
